html {
    overflow-y: scroll;
}
body{
	margin: 0;
	padding: 0;
	text-align: center;
    /*background: -webkit-linear-gradient(rgb(201,207,204), rgb(241,247,244));  For Safari */
    /*background: -o-linear-gradient(rgb(201,207,204), rgb(241,247,244)); For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(rgb(201,207,204),rgb(241,247,244)); For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(241,247,244), rgb(191,197,194));/*  Standard syntax */
    background: rgb(231,237,234);
    color: rgb(66,66,66);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    width: 100%;
    vertical-align: top;
}
a {
	text-decoration: none;
	font-family:'Open Sans', sans-serif;
	font-weight: 600;

}
a:hover{
    text-decoration: underline;
}
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
li{
	padding: 5px 12px;
	border-radius: 5px;
	margin: 0 3px;
    transition: background-color 1.5s;
    /* -webkit-transition: background-color 1.5s; Safari */
}
li:hover{
    background-color: rgba(128,158,128,.5);
}
li.selected{
    background-color: rgba(8,38,8,.7);
    color: rgba(255,255,255,.9);
}
li a{
    color: rgba(8,38,8,.7);
}

li.selected a{
	color: inherit;
	cursor: default;
}
li.selected a:active{
	color: inherit;
}
li a:hover{
    text-decoration: none;
}
#body{
	display: inline-block;
	margin: 20px auto;
	padding: 10px;
	width: auto;
    background: rgb(255,255,255) url('../images/bk_escudo.png') no-repeat bottom right;
    /*background-color: rgba(128,158,128,.25);*/
    border: solid rgba(128,128,128,.33) 1px;
	box-shadow: 0 0 7px rgba(128, 128, 128, .30);
	border-radius: 5px;
    vertical-align: top;
}
#body section{
	display: inline-block;
    border-right: solid rgba(130,130,130,.25) 1px;
	width: 652px;
}
section,
footer,
header,
aside,
nav{
    margin: 0px;
    padding: 10px;
}
#body > footer{
    border-top: solid rgba(130,130,130,.25) 1px;;
}
header{
    border: none;
}
nav{
    border: none;
    border-top: solid rgba(130,130,130,.25) 1px;
    border-bottom: solid rgba(130,130,130,.25) 1px;
}

nav ul{
    width: 100%;
}

aside{
	vertical-align: top;
	height: auto;
	max-width: 208px;
    min-width: 108px;
    width: 208px;
	border: none;
	text-align: left;
    display: inline-block;
}
pre{
	word-wrap: break-word;
	font-size: 90%;
}
article{
    display: none;
    width: 33.33%;
    /*float: left;*/
    background-color: rgba(255,255,255,.5);
}
article:first-child{
    width: 100%;
    clear: both;
}
article.selected{
    display: inline-block;
    vertical-align: top;
}
article h1{
    text-align: left;
}
article p {
    font-weight: normal;
    font-size: .9em;
    text-align: justify;
}
div.article.wrapper{
    padding: 0px;
    margin: 10px 15px;
    /*border: solid rgba(128,128,0,0.25) 1px;*/
}
div.article.wrapper h2{

}
div.article.wrapper img{
    width: 100%;
}
